<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <%- include('nav.ejs') %>

    <h4> DETAIL PAGE </h4>

    <h4><%= data.제목 %></h4>
    <h4><%= data.날짜 %></h4>

    <!-- <div class="container mt-3">
      <div class="card" style="width: 100%">
        <div class="card-body">
          <h5 class="card-title"><%= data.제목 %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= data.날짜 %></h6>
          <p class="card-text">임시내용입니다.</p>
          <a href="#" class="card-link">수정하기</a>
        </div>
      </div>
    </div> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
